include LICENSE.md
include README.md
include bgen_reader/athr.dll
include bgen_reader/bgen.dll
include bgen_reader/interface.h
include bgen_reader/genotype.c
include bgen_reader/genotype.h
include bgen_reader/partition.c
include bgen_reader/partition.h
include bgen_reader/samples.c
include bgen_reader/samples.h
include bgen_reader/zlib.dll
include bgen_reader/libzstd.dll
include build_ext.py
include version.py
