include requirements.txt
include test-requirements.txt
include LICENSE.txt
include README.rst
include bgen_reader/test/example.32bits.bgen
include bgen_reader/interface.h
include bgen_reader/interface.c
include example/example.bgen
include example/example.py
