include LICENSE
include README.md
include setup.cfg
include limix/io/test/data/csv/pheno.csv
include limix/io/test/data/gen/example.gen
include limix/io/test/data/gen/example.sample
include limix/io/test/data/hdf5/data.h5
include limix/io/examples/data/hdf5/data.h5
include limix/io/examples/data/csv/data.csv
include limix/io/examples/data/gen/example.gen
include limix/io/examples/data/gen/example.sample
include limix/io/examples/data/numpy/1000G_kinship.npy
include limix/test/mtSet/data/*.txt
recursive-include limix *.py
